@font-face {
    font-family: 'Baunk';
    src: url('../public/fonts/Baunk.ttf') format('truetype');
  }
@font-face {
  font-family: 'Gardenia Summer';
  src: url('../public/fonts/Gardenia Summer.ttf') format('truetype');
}